/* === Root Styles === */
/* Across all pages */

:root {
	--main-blue: #cafdff;
	--main-black: black;
	--main-red: #ff0000;
}

/* Body Styles */
/* Across all pages */

body {
	background-color: var(--main-blue);
	margin: 0px;
}

/* === Navigation === */
/* Navigation Spacing */

nav {
	background-color: var(--main-blue);
	height: 150px;
}

/* Logo Spacing */

.logo-with-bun{ 
	position: absolute;
	padding-left: 5vW;
	top: 18px;
	z-index: 10;
}

.black-nav {
	background-color: var(--main-black);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 90vw;
	padding-left: 5vW;
	padding-right: 5vW;
	height: 100px;
	position: relative;
	top: 50px;
}

/* Navigation buttons */

.nav-buttons {
	color: var(--main-blue);
	font-family: hegante, sans-serif;
	font-weight: 900;
	font-size: 3em;
	font-style: normal;
	font-variant: small-caps;
}

.nav-buttons:hover {
	color: var(--main-red) !important;
}

/* === Index.ejs Style === */

/* Body spacing */

.login-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vH;
}

/* Large BUNBUNS logo sizing and spacing */

.logo-div {
	background: linear-gradient(
		to top,
		var(--main-black) 0%,
		var(--main-black) 50%,
		var(--main-blue) 50%,
		var(--main-blue) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	height: 200px;
	width: 100vW;
}

.large-logo {
	position: relative;
	display: block;
	width: 90vw;
}

/* Black box spacing */

.black-box {
	background-color: var(--main-black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 66vH;
	width: 100vW;
}

/* Bun Spacing */

.bun {
	width: 400px;
	margin-top: 5vH;
}

/* Login Buttons styles and spacing */

.button-div {
	display: flex;
	justify-content: space-between;
	width: 90vW;
}

.login-page-button {
	color: var(--main-blue);
	font-family: egizio-urw, serif;
	font-style: normal;
	font-size: 3em;
	font-variant: small-caps;
	font-weight: 400;
}

.login-page-button:hover {
	color: var(--main-red) !important;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}