<footer>
	<div class="footer-style">
		<div class="creator-names">
			<h3>Developed by</h3>
			<p>ampersand paris</p>				<p>janice kwak</p>
			<p>dominick chiang</p>
		</div>
		<div class="contact-info">		
			<p>conact us at info@bunbuns.com</p>
		</div>
	</div>
</footer>