<nav>
	<div class="logo-with-bun">
		<img src="../images/logo-with-bun.svg">
	</div>
	<div class="black-nav">
		<a href="../recipes"><button  class="nav-buttons">recipes</button></a>
		<a href="../homecooks"><button class="nav-buttons">homecooks</button></a>
		<a href="../recipes/new"><button  class="nav-buttons">create</button></a>
	</div>
	<a href="/logout"><p id="logout">LOGOUT</p></a>
	<img id="logout-button" src="../images/logout-icon.svg">
</nav>