<nav>
	<div class="logo-with-bun">
		<img src="Images/logo-with-bun.svg">
	</div>
	<div class="black-nav">
		<button href="../recipes/index.ejs" class="nav-buttons">recipes</button>
		<button href="../homecooks/index.ejs" class="nav-buttons">homecooks</button>
		<button href="../recipes/new.ejs" class="nav-buttons">create</button>
	</div>
</nav>