/* === Root Styles === */
/* Across all pages */

@media only screen and (max-width: 800px) {
	.homecook-biography {
		width: 90vW !important;
	}
}

:root {
	--main-blue: #cafdff;
	--main-black: black;
	--main-red: #ff0000;
}



/* Body Styles */
/* Across all pages */

body {
	background-color: var(--main-blue);
	margin: 0px;
}

.page-container {
	padding: 0vw 4vW 0vW 4vW;
}
/* Font Styles */
/* Across all pages */


h1 {
	color: var(--main-red);
	font-family: hegante, sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 5vH;
	margin-top: 5vH;
}

h2 {
	font-family: hegante, sans-serif;
	font-size: 2.5em;
	font-variant: small-caps;
	margin-bottom: 1vW;
	margin-top: 5vH;
}

h3 {
	font-family: hegante, sans-serif;
	font-size: 2em;
	font-variant: small-caps;
	margin-bottom: 1vW;
	margin-top: 5vH;
}

h4 {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.5em;
	font-variant: small-caps;
	color: var(--main-red);
	margin: 0 0 0 0;
}


p {
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	font-variant: small-caps;
	margin: 0px;
}

ul {
	list-style: none;
	padding-left: 0;
}
li {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.5em;
	list-style-type: none;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

textarea:focus {
	outline: none !important;
	border-color: var(--main-red);
}
 
input:focus {
	outline: none !important;
	border-color: var(--main-red);
}

input[type="submit"] {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.3em;
	font-variant: small-caps;
	width: 150px;
	margin-top: 2vH;
}

input[type="submit"]:hover {
	color: var(--main-red);
}

/* === Navigation === */
/* Navigation Spacing */

nav {
	background-color: var(--main-blue);
	height: 150px;
}

/* Logo Spacing */

.logo-with-bun{ 
	position: absolute;
	padding-left: 4vW;
	top: 18px;
	z-index: 10;
}

.black-nav {
	background-color: var(--main-black);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 92vw;
	padding-left: 4vW;
	padding-right: 4vW;
	height: 100px;
	position: relative;
	top: 50px;
}

/* Navigation buttons */

.nav-buttons {
	color: var(--main-blue);
	font-family: hegante, sans-serif;
	font-weight: 900;
	font-size: 3em;
	font-style: normal;
	font-variant: small-caps;
}

.nav-buttons:hover {
	color: var(--main-red) !important;
}

/* Logout Button */

#logout-button {
	position: absolute;
	right: 5vW;
	top: 5px;
	width: 40px;
}

#logout {
	position: absolute;
	right: 20vW;
	top: 5px;
	width: 40px;
}

/* === Index.ejs Style === */

/* Body spacing */

.login-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vH;
}

/* Large BUNBUNS logo sizing and spacing */

.logo-div {
	background: linear-gradient(
		to top,
		var(--main-black) 0%,
		var(--main-black) 50%,
		var(--main-blue) 50%,
		var(--main-blue) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	height: 200px;
	width: 100vW;
}

.large-logo {
	position: relative;
	display: block;
	width: 90vw;
}

/* Black box spacing */

.black-box {
	background-color: var(--main-black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 66vH;
	width: 100vW;
}

/* Bun Spacing */

.bun {
	width: 400px;
	margin-top: 5vH;
}

/* Login Buttons styles and spacing */

.button-div {
	display: flex;
	justify-content: space-between;
	width: 90vW;
}

.login-page-button {
	color: var(--main-blue);
	font-family: egizio-urw, serif;
	font-style: normal;
	font-size: 3em;
	font-variant: small-caps;
	font-weight: 400;
}

.login-page-button:hover {
	color: var(--main-red) !important;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* === RECIPES VIEWSStyle === */
/* === new.ejs Style === */

/* name and number of recipes */

.homecook-name {
	margin-left: 3vW;
	margin-bottom: 3vW;
}

.homecook-name h1 {
	margin-bottom: 0;
}

/* form styles */
/* short answer */

.short-answer {
	width: 30vW;
}

input {
	background-color: transparent;
	border: solid 1px;
	margin-bottom: 0px;
	padding: 10px 10px 7px 10px;
	width: 28vW;
}

::placeholder {
	color: black;
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	font-variant: small-caps;
	padding: 0px;
}

/* long answer */

.long-answer {
	width: 30vW;
}

textarea {
	background-color: transparent;
	border: solid 1px;
	height: 40vH;
	padding: 10px;
	width: 28vW;
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	font-variant: small-caps;
	padding: 0vW 1vW 0vW 1vW;

}

textarea::placeholder {
	color: black;
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	padding: 0px;
	font-variant: none;
}

.recipe-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0vW 3vW 0vW 3vW;
}

/* === index.ejs Style === */

.recipe-collection {
	background-color: var(--main-black);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	width: 94vW;
	height: 100%;
	padding: 3vW 5vW 3vW 3vW;
}

.recipe-card {
	height: 28vW;
	min-width: 250px;
	min-height: 250px;
	width: 27vW;
	overflow: hidden;
	background-color: var(--main-blue);
	padding: 1vW;
	margin-top: 3vW;
}

.recipe-card-top h3 {
	margin-top: 0px;
}

.recipe-image {
	width: 28vW;
	min-height: 28vW;	
	max-height: 100%;
	display: none;
}

.recipe-description {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	color: var(--main-red);
}

.recipe-description h3 {
	font-size: 3em !important;
	
}

/* --- Show.ejs --- */

.recipe-header {
	display: flex;	
	margin-left: 3vW;
	margin-right: 3vW;
	margin-top: 2vW;
}

.recipe-header-name {
	border-right: solid black 1px;
	width: 62vW;
}

.recipe-header-name h1 {
	margin-top: 0px;
}

.recipe-header-small-details {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 30vW;
}

.recipe-body {
	display: flex;
	margin-left: 3vW;
	margin-right: 3vW;
	justify-content: space-between;
}

.ingredients {
	width: 30vW;
	height: 50vH;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ingredients h3 {
	margin-bottom: 0px;
}

.preparation {
	width: 60vW;
	display: flex;
	flex-direction: column;
}

.show-recipe-image {
	height: 60vH;
	overflow: hidden;
}

.show-recipe-image img {
	width: 60vW;
}

.preparation-text {
	padding: 1vW;
	border-left: solid black 1px;
}

/* === HOMCOOKS === */
/* === Homecooks Index.ejs === */

#index {
	background-color: var(--main-black);
}

.homecook-index {
	padding: 0vW 4vW 0vW 4vW;
	height: 100%;
}

.homecooks-index-header {
	display: flex;
	justify-content: center;
	text-align: center;
}

.homecooks-index-header h1 {
	font-size: 5em;
	color: var(--main-blue);
}

.homecook-name-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.homecook-names {
	text-align: center;
	width: 28vW;
}

.homecook-names h2 {
	color: var(--main-blue);
	margin-top: 1vH;
}

.homecook-names h2:hover {
	color: var(--main-red);
}

/* === Homecooks Show.ejs === */

.homecook-profile {
	padding: 0vW 4vW 0vW 4vW;
}

.homecook-header-name h1 {
	margin-bottom: 0px;
}

.homecook-biography {
	margin-top: 0;
	padding: 1vW;
	border: solid black 1px;
	width: 28vW;
	height: 40vH;
	overflow: scroll;
}

.homecook-biography p {
	font-size: 1.5em;
}

#delete-button {
	display: flex;
	justify-content: flex-start;
	margin: 5vH 0vH 5vH 0vH;
	width: 28vW;
}


#delete-button input[type="submit"] {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.3em;
	font-variant: small-caps;
	width: 150px;
}

#delete-button input[type="submit"]:hover {
	color: var(--main-red);
}

/* === Edit.ejs === */

#biography-edit {
	margin: 5vH 0vH 5vH 0vH;
	width: 28vW;
}

#biography-edit input[type="submit"] {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.3em;
	font-variant: small-caps;
	width: 150px;
	margin-top: 2vH;
}


#biography-edit input[type="text"] {
	justify-content: flex-start !important;
	font-family: egizio-urw-condensed, serif;
	font-size: 1.5em;
	margin-top: 0;
	padding: 1vW;
	border: solid black 1px;
	width: 28vW;
	height: 40vH;
	overflow: scroll;
	background-color: white;
}

#biography-edit input[type="submit"]:hover {
	color: var(--main-red);
}

.edit-text-field{ 
	background-color: white;
}

/* === Homecook Show.ejs === */

#delete-button {
	display: flex;
	justify-content: flex-start;
	margin: 5vH 0vH 5vH 0vH;
	width: 28vW;
}


#delete-button input[type="submit"] {
	font-family: egizio-urw-condensed, serif;
	font-size: 1.3em;
	font-variant: small-caps;
	width: 150px;
}

#delete-button input[type="submit"]:hover {
	color: var(--main-red);
}

