/* === Root Styles === */
/* Across all pages */

:root {
	--main-blue: #cafdff;
	--main-black: black;
	--main-red: #ff0000;
}

/* Body Styles */
/* Across all pages */

body {
	background-color: var(--main-blue);
	margin: 0px;
}

p {
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	font-variant: small-caps;
	margin: 0px;
}

/* Font Styles */
/* Across all pages */

h3 {
	font-family: hegante, sans-serif;
	font-size: 30px;
	font-variant: small-caps;
	margin-bottom: 1vW;
	margin-top: 0px;
}

/* === Navigation === */
/* Navigation Spacing */

nav {
	background-color: var(--main-blue);
	height: 150px;
}

/* Logo Spacing */

.logo-with-bun{ 
	position: absolute;
	padding-left: 5vW;
	top: 18px;
	z-index: 10;
}

.black-nav {
	background-color: var(--main-black);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 90vw;
	padding-left: 5vW;
	padding-right: 5vW;
	height: 100px;
	position: relative;
	top: 50px;
}

/* Navigation buttons */

.nav-buttons {
	color: var(--main-blue);
	font-family: hegante, sans-serif;
	font-weight: 900;
	font-size: 3em;
	font-style: normal;
	font-variant: small-caps;
}

.nav-buttons:hover {
	color: var(--main-red) !important;
}

/* === Index.ejs Style === */

/* Body spacing */

.login-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vH;
}

/* Large BUNBUNS logo sizing and spacing */

.logo-div {
	background: linear-gradient(
		to top,
		var(--main-black) 0%,
		var(--main-black) 50%,
		var(--main-blue) 50%,
		var(--main-blue) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	height: 200px;
	width: 100vW;
}

.large-logo {
	position: relative;
	display: block;
	width: 90vw;
}

/* Black box spacing */

.black-box {
	background-color: var(--main-black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 66vH;
	width: 100vW;
}

/* Bun Spacing */

.bun {
	width: 400px;
	margin-top: 5vH;
}

/* Login Buttons styles and spacing */

.button-div {
	display: flex;
	justify-content: space-between;
	width: 90vW;
}

.login-page-button {
	color: var(--main-blue);
	font-family: egizio-urw, serif;
	font-style: normal;
	font-size: 3em;
	font-variant: small-caps;
	font-weight: 400;
}

.login-page-button:hover {
	color: var(--main-red) !important;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* === RECIPES VIEWSStyle === */
/* === new.ejs Style === */

/* name and number of recipes */

.homecook-name {
	margin-left: 3vW;
	margin-bottom: 3vW;
}

/* form styles */
/* short answer */

.short-answer {
	width: 30vW;
}

input {
	
	background-color: transparent;
	border: solid 1px;
	margin-bottom: 0px;
	padding: 10px 10px 7px 10px;
	width: 28vW;
}

::placeholder {
	color: black;
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	font-variant: small-caps;
	padding: 0px;
}

/* long answer */

.long-answer {
	width: 30vW;
}

textarea {
	background-color: transparent;
	border: solid 1px;
	height: 40vH;
	padding: 10px;
	width: 28vW;
}

textarea p {
	color: black;
	font-family: egizio-urw-condensed, serif;
	font-size: 2em;
	padding: 0px;
}

.recipe-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0vW 3vW 0vW 3vW;
}

/* === index.ejs Style === */

.recipe-collection {
	background-color: var(--main-black);
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 94vW;
	height: 100vH;
	padding: 3vW 5vW 3vW 3vW;
}

.recipe-card {
	height: 28vW;
	width: 28vW;
	overflow: hidden;
	background-color: var(--main-blue);
	padding: 1vW;
}

.recipe-image {
	width: 28vW;
	min-height: 28vW;	
	max-height: 100%;
	display: none;
}

.recipe-description {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	color: var(--main-red);
}

.recipe-description h3 {
	font-size: 3em !important;
	
}