<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>Recipe Index</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
</body>
<div class="recipe-collection">
	<div class="recipe-card">
		<div>
			<img class="recipe-image" src="./Images/Chicken Curry.jpeg">
		</div>
		<div class="recipe-description">
			<div class="recipe-card-top">
				<h3>chicken curry</h3>
				<p>yields 4 servings</p>
			</div>
			<div class="recipe-card-bottom">
				<p>ampersand paris</p>
				<p>12.12.12</p>
			</div>
		</div>
	</div>
</div>
</html>