<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>Homecook Index</title>
</head>
<body id="index">
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-index">
		<div class="homecooks-index-header">
			<h1>bunbuns homecooks</h1>
		</div>
		<div class="homecook-name-list">
		<% homecooks.forEach(homecooks => { %>	
			<div class="homecook-names">		
				<a href="/homecooks/<%= homecooks.id %>"><h2><%= homecooks.name %></h2></a>
			</div>
		<% }) %>
		<div class="homecook-names">
			<h2>ampy</h2>
		</div>
		<div class="homecook-names">
			<h2>janice</h2>
		</div>
		</div>
	</div>
</body>
</html>