<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>User Index</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="user-profile">
		<div class="user-description">
			<div class="user-header">
				<h1><large>All Homecooks</large></h1>
			</div>
			<% homecooks.forEach(homecooks => { %>
				<a href="/homecooks/<%= homecooks.id %>"><div class="homecook"></div>
					<div class="recipe-description">
						<div class="recipe-card-top">
							<h3><%= homecooks.name %></h3>
						</div>
					</div>
				</div>
			<% }) %>
	</div>
</body>
</html>