<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>New User Account</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-header">
		<div class = "homecook-header-name">
			<h1><%= homecooks.name %></h1>
		</div>
	</div>
	<form action="/homecooks" method="POST">
		<div class="short-answer">
			<h3>add a description</h3>
			<input type="text" name="name" placeholder="put description here">
		</div>
		<input type="submit" value="Submit">
	</form>
	<%- include ('../partials/footer.ejs') %>
</body>
</html>